<a href="https://colab.research.google.com/github/Harsha774/UTD-Masters-Work-Portfolio/blob/master/Spark_Transformations_n_Actions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
!ls /usr/lib/jvm/

default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

In [3]:
!pip install -U pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Collecting pyarrow
  Downloading pyarrow-5.0.0-cp37-cp37m-manylinux2014_x86_64.whl (23.6 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 23.6 MB 104 kB/s
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 3.0.0
    Uninstalling pyarrow-3.0.0:
      Successfully uninstalled pyarrow-3.0.0
Successfully installed pyarrow-5.0.0

In [4]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [5]:
import findspark
findspark.init()

In [6]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.executer.memory","4g")
spark.conf.set("spark.driver.fraction","0.9")

In [7]:
import sys,tempfile,urllib
from pyspark.sql.functions import *

In [8]:
BASE_DIR='/tmp'
corona_data_file=os.path.join(BASE_DIR,'corona_data.csv')

In [9]:
import urllib.request
corona_data=urllib.request.urlretrieve("https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/coronavirus/corona_dataset_latest.csv",corona_data_file)

In [10]:
corona_df=spark.read.option("infer_schema","true").csv("/tmp/corona_data.csv",header=True)

In [11]:
corona_df.show()

+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
|_c0|           State|             Country|     Lat|     Long|      Date|Confirmed|Death|Recovered|       state_cleaned|City|
+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
|  0|            null|            Thailand|    15.0|    101.0|2020-01-22|        2|    0|        0|             Bangkok|null|
|  1|            null|               Japan|    36.0|    138.0|2020-01-22|        2|    0|        0|             Hiraide|null|
|  2|            null|           Singapore|  1.2833| 103.8333|2020-01-22|        0|    0|        0|           Singapore|null|
|  3|            null|               Nepal| 28.1667|    84.25|2020-01-22|        0|    0|        0|           Kathmandu|null|
|  4|            null|            Malaysia|     2.5|    112.5|2020-01-22|        0|    0|        0|             Sarawak|null|
|  5|British Columbia|              Canada| 49.2827|-123.1207|2020-01-22|        0|    0|        0|    British Columbia|null|
|  6| New South Wales|           Australia|-33.8688| 151.2093|2020-01-22|        0|    0|        0|     New South Wales|null|
|  7|        Victoria|           Australia|-37.8136| 144.9631|2020-01-22|        0|    0|        0|            Victoria|null|
|  8|      Queensland|           Australia|-28.0167|    153.4|2020-01-22|        0|    0|        0|          Queensland|null|
|  9|            null|            Cambodia|   11.55| 104.9167|2020-01-22|        0|    0|        0|          Phnom Penh|null|
| 10|            null|           Sri Lanka|     7.0|     81.0|2020-01-22|        0|    0|        0|Sri Jayawardenapu...|null|
| 11|            null|             Germany|    51.0|      9.0|2020-01-22|        0|    0|        0|              Berlin|null|
| 12|            null|             Finland|    64.0|     26.0|2020-01-22|        0|    0|        0|            Helsinki|null|
| 13|            null|United Arab Emirates|    24.0|     54.0|2020-01-22|        0|    0|        0|           Abu Dhabi|null|
| 14|            null|         Philippines|    13.0|    122.0|2020-01-22|        0|    0|        0|              Manila|null|
| 15|            null|               India|    21.0|     78.0|2020-01-22|        0|    0|        0|           New Delhi|null|
| 16|            null|               Italy|    43.0|     12.0|2020-01-22|        0|    0|        0|                Rome|null|
| 17|            null|              Sweden|    63.0|     16.0|2020-01-22|        0|    0|        0|           Stockholm|null|
| 18|            null|               Spain|    40.0|     -4.0|2020-01-22|        0|    0|        0|              Toledo|null|
| 19| South Australia|           Australia|-34.9285| 138.6007|2020-01-22|        0|    0|        0|     South Australia|null|
+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
only showing top 20 rows

In [12]:
BASE_DIR='/tmp'
twitter_data_file=os.path.join(BASE_DIR,'tweets.csv')

In [13]:
corona_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Lat: string (nullable = true)
 |-- Long: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Confirmed: string (nullable = true)
 |-- Death: string (nullable = true)
 |-- Recovered: string (nullable = true)
 |-- state_cleaned: string (nullable = true)
 |-- City: string (nullable = true)

In [14]:
import urllib.request
corona_data=urllib.request.urlretrieve("https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/coronavirus/tweets.csv",twitter_data_file)

In [15]:
ls /tmp

blockmgr-f134b599-aabf-4a9f-91b2-6fdf65179e91/
corona_data.csv
dap_multiplexer.45f6f66e1d50.root.log.INFO.20210923-151939.56
dap_multiplexer.INFO@
debugger_puwldhbm5=
hsperfdata_root/
initgoogle_syslog_dir.0/
liblz4-java-2579035530076325752.so
liblz4-java-2579035530076325752.so.lck
pyright-102-BP91TmKfkFkM/
pyright-102-FacEh9rnhHHa/
pyright-237-mjASPyQqmDk4/
pyright-237-YJWOJNLmUubq/
pyright-263-dBxtCaap11lD/
pyright-263-NNeQslP7xFeG/
python-languageserver-cancellation/
spark-578523bb-f9d0-45c3-b9b4-4243cecdaac2/
spark-b00ddc9c-9862-4210-aae7-734956a8cd88/
tweets.csv

In [16]:
!head /tmp/tweets.csv

,geo,text,user,location,entities,sentiment,country
0,,What is God saying to us about #coronavirus ?,petodinice,Lagos,"[('about #', 'CARDINAL')]","{'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.2732}",Nigeria
1,,"BREAKING: ""this is disappointing, but i took the test"". Arsenal's Mikel Arteta tests positive for #coronavirus,  -‚Ä¶ ",JerryfranksonJF,"Abuja, Nigeria","[(""Arsenal's Mikel Arteta"", 'ORG'), '']","{'neg': 0.1, 'neu': 0.667, 'pos': 0.233, 'compound': 0.5859}",Nigeria
2,, #Coronavirus testing must be made free to the public if we are going to understand the scope of this crisis. Anything le‚Ä¶,cek422,"Pennsylvania, USA",[],"{'neg': 0.173, 'neu': 0.71, 'pos': 0.117, 'compound': -0.3767}",USA
3,, Get ready for mass event crowd cancellations across the World starting this weekend: cricket in #Australia in empty st‚Ä¶,InfectiousDz,NYC,"[('World', 'ORG'), ('this weekend', 'DATE'), '']","{'neg': 0.085, 'neu': 0.798, 'pos': 0.117, 'compound': 0.1779}",USA
4,, The #coronavirus pandemic is revealing just how closely we are all bound together...[A thread] ,vic_gibson,,[''],"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",
5,," COVID-19 update as of this morning:1. Death toll in Italy passes 1,0002. Arsenal's head coach Arteta tests positive3. US‚Ä¶",StewartNgilana,Durban | Port Elizabeth,"[('Italy', 'GPE'), ('1,0002', 'CARDINAL'), ('Arsenal', 'ORG'), ('Arteta', 'ORG'), ('US', 'GPE')]","{'neg': 0.178, 'neu': 0.822, 'pos': 0.0, 'compound': -0.5994}",USA
6,," It‚Äôs painful to say, but as an ER doc who talked to¬† about healthcare, I believe he's uniquely unqualified to‚Ä¶",BWheatnyc,Florida,[],"{'neg': 0.098, 'neu': 0.902, 'pos': 0.0, 'compound': -0.2382}",USA
7,," üìΩÔ∏èFriends, I will drop another video on Twitter tonight around 7:30pm to answer your questions about #coronavirus.Plea‚Ä¶",LorseaR,"New South Wales, Australia","[('Twitter', 'GPE'), ('tonight', 'TIME')]","{'neg': 0.123, 'neu': 0.877, 'pos': 0.0, 'compound': -0.2732}",Australia
8,," Questions about COVID-19? See this resource and info page from NAfME for music educators, including music instrument hygiene: ht‚Ä¶",straightj23,"Columbus, OH","[('NAfME', 'CARDINAL')]","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}",USA

In [17]:
twitter_df=spark.read.option("infer_schema","true").csv("/tmp/tweets.csv",header=True)

In [18]:
twitter_df.show()

+---+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|_c0| geo|                text|                user|            location|            entities|           sentiment|             country|
+---+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  0|null|What is God sayin...|          petodinice|               Lagos|[('about #', 'CAR...|{'neg': 0.0, 'neu...|             Nigeria|
|  1|null|"BREAKING: ""this...| but i took the t...|                -‚Ä¶ "|     JerryfranksonJF|      Abuja, Nigeria|"[(""Arsenal's Mi...|
|  2|null| #Coronavirus tes...|              cek422|   Pennsylvania, USA|                  []|{'neg': 0.173, 'n...|                 USA|
|  3|null| Get ready for ma...|        InfectiousDz|                 NYC|[('World', 'ORG')...|{'neg': 0.085, 'n...|                 USA|
|  4|null| The #coronavirus...|          vic_gibson|                null|                ['']|{'neg': 0.0, 'neu...|                null|
|  5|null| COVID-19 update ...|      StewartNgilana|Durban | Port Eli...|[('Italy', 'GPE')...|{'neg': 0.178, 'n...|                 USA|
|  6|null| It‚Äôs painful to ...|           BWheatnyc|             Florida|                  []|{'neg': 0.098, 'n...|                 USA|
|  7|null| üìΩÔ∏èFriends, I wi...|             LorseaR|New South Wales, ...|[('Twitter', 'GPE...|{'neg': 0.123, 'n...|           Australia|
|  8|null| Questions about ...|         straightj23|        Columbus, OH|[('NAfME', 'CARDI...|{'neg': 0.0, 'neu...|                 USA|
|  9|null|How they‚Äôre deali...|       _______coolio| South East, England|['', ('Portsmouth...|{'neg': 0.126, 'n...|                  UK|
| 10|null| BREAKING: Democr...|      champagneaylin|                null|[('Democrats', 'N...|{'neg': 0.221, 'n...|                null|
| 11|null| ‚ÄúIf we close dow...|       YorkLawLondon|                  UK|                  []|{'neg': 0.0, 'neu...|      United Kingdom|
| 12|null| I pity the poor ...|      BeesonMargaret|                null|                ['']|{'neg': 0.227, 'n...|                null|
| 13|null| We‚Äôre the heck w...|      harrytiffanyiv| Fort Washington, PA|[('the last 6 wee...|{'neg': 0.0, 'neu...|                 USA|
| 14|null| I don't think sh...|         grammyheath|                null|[('Joy', 'PERSON'...|{'neg': 0.0, 'neu...|                null|
| 15|null| Well written, so...|      barbara_ellena|Christchurch City...|                  []|{'neg': 0.0, 'neu...|         New Zealand|
| 16|null| 1/2 CDC Director...|               fatal|                 USA|[('1/2', 'CARDINA...|{'neg': 0.139, 'n...|       United States|
| 17|null| In all seriousne...|          pwjkmiller|                null|                ['']|{'neg': 0.218, 'n...|                null|
| 18|null| Wash your hands....|        Mrrandy123RP|          Texas, USA|            ['', '']|{'neg': 0.0, 'neu...|                 USA|
| 19|null| #CoronaVirusCana...|           aliensky0|           Worldwide|['', ('CoronaViru...|{'neg': 0.0, 'neu...|                 USA|
+---+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [19]:
twitter_df.count()

1000

In [20]:
corona_df.show()

+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
|_c0|           State|             Country|     Lat|     Long|      Date|Confirmed|Death|Recovered|       state_cleaned|City|
+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
|  0|            null|            Thailand|    15.0|    101.0|2020-01-22|        2|    0|        0|             Bangkok|null|
|  1|            null|               Japan|    36.0|    138.0|2020-01-22|        2|    0|        0|             Hiraide|null|
|  2|            null|           Singapore|  1.2833| 103.8333|2020-01-22|        0|    0|        0|           Singapore|null|
|  3|            null|               Nepal| 28.1667|    84.25|2020-01-22|        0|    0|        0|           Kathmandu|null|
|  4|            null|            Malaysia|     2.5|    112.5|2020-01-22|        0|    0|        0|             Sarawak|null|
|  5|British Columbia|              Canada| 49.2827|-123.1207|2020-01-22|        0|    0|        0|    British Columbia|null|
|  6| New South Wales|           Australia|-33.8688| 151.2093|2020-01-22|        0|    0|        0|     New South Wales|null|
|  7|        Victoria|           Australia|-37.8136| 144.9631|2020-01-22|        0|    0|        0|            Victoria|null|
|  8|      Queensland|           Australia|-28.0167|    153.4|2020-01-22|        0|    0|        0|          Queensland|null|
|  9|            null|            Cambodia|   11.55| 104.9167|2020-01-22|        0|    0|        0|          Phnom Penh|null|
| 10|            null|           Sri Lanka|     7.0|     81.0|2020-01-22|        0|    0|        0|Sri Jayawardenapu...|null|
| 11|            null|             Germany|    51.0|      9.0|2020-01-22|        0|    0|        0|              Berlin|null|
| 12|            null|             Finland|    64.0|     26.0|2020-01-22|        0|    0|        0|            Helsinki|null|
| 13|            null|United Arab Emirates|    24.0|     54.0|2020-01-22|        0|    0|        0|           Abu Dhabi|null|
| 14|            null|         Philippines|    13.0|    122.0|2020-01-22|        0|    0|        0|              Manila|null|
| 15|            null|               India|    21.0|     78.0|2020-01-22|        0|    0|        0|           New Delhi|null|
| 16|            null|               Italy|    43.0|     12.0|2020-01-22|        0|    0|        0|                Rome|null|
| 17|            null|              Sweden|    63.0|     16.0|2020-01-22|        0|    0|        0|           Stockholm|null|
| 18|            null|               Spain|    40.0|     -4.0|2020-01-22|        0|    0|        0|              Toledo|null|
| 19| South Australia|           Australia|-34.9285| 138.6007|2020-01-22|        0|    0|        0|     South Australia|null|
+---+----------------+--------------------+--------+---------+----------+---------+-----+---------+--------------------+----+
only showing top 20 rows

In [21]:
twitter_df.filter("country='USA'").show()

+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|_c0| geo|                text|           user|            location|            entities|           sentiment|country|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|  2|null| #Coronavirus tes...|         cek422|   Pennsylvania, USA|                  []|{'neg': 0.173, 'n...|    USA|
|  3|null| Get ready for ma...|   InfectiousDz|                 NYC|[('World', 'ORG')...|{'neg': 0.085, 'n...|    USA|
|  5|null| COVID-19 update ...| StewartNgilana|Durban | Port Eli...|[('Italy', 'GPE')...|{'neg': 0.178, 'n...|    USA|
|  6|null| It‚Äôs painful to ...|      BWheatnyc|             Florida|                  []|{'neg': 0.098, 'n...|    USA|
|  8|null| Questions about ...|    straightj23|        Columbus, OH|[('NAfME', 'CARDI...|{'neg': 0.0, 'neu...|    USA|
| 13|null| We‚Äôre the heck w...| harrytiffanyiv| Fort Washington, PA|[('the last 6 wee...|{'neg': 0.0, 'neu...|    USA|
| 18|null| Wash your hands....|   Mrrandy123RP|          Texas, USA|            ['', '']|{'neg': 0.0, 'neu...|    USA|
| 19|null| #CoronaVirusCana...|      aliensky0|           Worldwide|['', ('CoronaViru...|{'neg': 0.0, 'neu...|    USA|
| 24|null| Dr. Dena Grayson...|billymocolorad2|         Denver area|[('Dena Grayson',...|{'neg': 0.0, 'neu...|    USA|
| 29|null| #BREAKING Univer...|  _pulido_nenaa|         Fontana, CA|['', ('BREAKING U...|{'neg': 0.0, 'neu...|    USA|
| 31|null| I ordered Alex J...|       rcgillan|       New York, USA|[('Alex Jones', '...|{'neg': 0.109, 'n...|    USA|
| 32|null| #CoronavirusExpe...|        AD1968F|California / Florida|['', ('Coronaviru...|{'neg': 0.0, 'neu...|    USA|
| 34|null| There is no obje...|       SFAuGrrl|   San Francisco, CA|['', ('FamiliesFi...|{'neg': 0.224, 'n...|    USA|
| 36|null| Before #coronavi...|   Frankapistan|       Nashville, TN|[('China', 'GPE')...|{'neg': 0.144, 'n...|    USA|
| 40|null|  When it's actua...|      Happyjam5|     Los Angeles, Ca|[('GOP', 'ORG'), ...|{'neg': 0.215, 'n...|    USA|
| 41|null|#Coronavirus in #...|   GregoryGLake|              Global|['', ('5', 'CARDI...|{'neg': 0.318, 'n...|    USA|
| 49|null| This week we are...|  JamesWithers3|  New York, New York|[('This week', 'D...|{'neg': 0.0, 'neu...|    USA|
| 50|null| Trump is now doi...|      NewNewsey|          everywhere|[('Trump', 'ORG')...|{'neg': 0.0, 'neu...|    USA|
| 55|null| The last patient...|   Khattarperla|          Highgarden|  [('Wuhan', 'GPE')]|{'neg': 0.0, 'neu...|    USA|
| 56|null|...Hope y‚Äôall sta...|  Brandon4Brody|          Pueblo, CO|[('CDC', 'ORG'), ...|{'neg': 0.0, 'neu...|    USA|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [22]:
twitter_df.filter("country='USA'").count()

364

In [23]:
twitter_df.filter("country='USA' and location like '%New%'").show()

+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|_c0| geo|                text|           user|            location|            entities|           sentiment|country|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
| 31|null| I ordered Alex J...|       rcgillan|       New York, USA|[('Alex Jones', '...|{'neg': 0.109, 'n...|    USA|
| 49|null| This week we are...|  JamesWithers3|  New York, New York|[('This week', 'D...|{'neg': 0.0, 'neu...|    USA|
| 62|null|Fear will kill #C...| RobertPPurcell|norther New Jerse...|                ['']|{'neg': 0.798, 'n...|    USA|
|228|null|This is a very co...|baskingntheGlow|       New York City|[('hourly', 'TIME')]|{'neg': 0.12, 'ne...|    USA|
|238|null|I‚Äôm reposting thi...|   Veronicaromm|     New Jersey, USA|[('English', 'LAN...|{'neg': 0.0, 'neu...|    USA|
|261|null|Too early ...?  #...|      HJeppesen|        New York, NY|                ['']|{'neg': 0.0, 'neu...|    USA|
|275|null|  The Republican ...|  GenetBataiile|  New Hampshire, USA|[('Republican', '...|{'neg': 0.0, 'neu...|    USA|
|369|null| I still look to ...|   SusanSeaside|         New England|[('SouthKorea', '...|{'neg': 0.0, 'neu...|    USA|
|438|null|Can we call the #...|       nilchaks|     New Jersey, USA|                ['']|{'neg': 0.194, 'n...|    USA|
|458|null| New deadly #coro...| ssummersabrina|     New Jersey, USA|                ['']|{'neg': 0.236, 'n...|    USA|
|471|null|What the Caged Bi...|    AaronNetsky|        New York, NY|                  []|{'neg': 0.0, 'neu...|    USA|
|553|null|Me: Tired of hear...|     AmandaB_B8|  New Hampshire, USA|['', ('tonight', ...|{'neg': 0.252, 'n...|    USA|
|611|null| Apparently the #...|  BuffaloInABox|   Buffalo, New York|['', ('CoronaViru...|{'neg': 0.171, 'n...|    USA|
|612|null| New deadly #coro...|       klazimi1|       New York, USA|                ['']|{'neg': 0.236, 'n...|    USA|
|622|null|Can someone pleas...|         pitaru|            New York|                ['']|{'neg': 0.168, 'n...|    USA|
|624|null| Trump is now doi...| swirlysunburst|Northwest, New Je...|[('Trump', 'ORG')...|{'neg': 0.0, 'neu...|    USA|
|664|null|Marriage in 2020 ...|           sciz|        New York, NY|[('2020', 'DATE')...|{'neg': 0.111, 'n...|    USA|
|679|null|ALL MY MONEY ON E...|  misterauyeung|        New York, NY|[('ETF', 'ORG'), '']|{'neg': 0.148, 'n...|    USA|
|724|null|#UniversalStudios...| cosmicbooknews|       New York, USA|['', ('UniversalS...|{'neg': 0.0, 'neu...|    USA|
|850|null| There is no obje...|         rm1268|       New York, USA|['', ('FamiliesFi...|{'neg': 0.224, 'n...|    USA|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [24]:
tdf=twitter_df.filter("country='USA'")

In [25]:
tdf.show()

+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|_c0| geo|                text|           user|            location|            entities|           sentiment|country|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|  2|null| #Coronavirus tes...|         cek422|   Pennsylvania, USA|                  []|{'neg': 0.173, 'n...|    USA|
|  3|null| Get ready for ma...|   InfectiousDz|                 NYC|[('World', 'ORG')...|{'neg': 0.085, 'n...|    USA|
|  5|null| COVID-19 update ...| StewartNgilana|Durban | Port Eli...|[('Italy', 'GPE')...|{'neg': 0.178, 'n...|    USA|
|  6|null| It‚Äôs painful to ...|      BWheatnyc|             Florida|                  []|{'neg': 0.098, 'n...|    USA|
|  8|null| Questions about ...|    straightj23|        Columbus, OH|[('NAfME', 'CARDI...|{'neg': 0.0, 'neu...|    USA|
| 13|null| We‚Äôre the heck w...| harrytiffanyiv| Fort Washington, PA|[('the last 6 wee...|{'neg': 0.0, 'neu...|    USA|
| 18|null| Wash your hands....|   Mrrandy123RP|          Texas, USA|            ['', '']|{'neg': 0.0, 'neu...|    USA|
| 19|null| #CoronaVirusCana...|      aliensky0|           Worldwide|['', ('CoronaViru...|{'neg': 0.0, 'neu...|    USA|
| 24|null| Dr. Dena Grayson...|billymocolorad2|         Denver area|[('Dena Grayson',...|{'neg': 0.0, 'neu...|    USA|
| 29|null| #BREAKING Univer...|  _pulido_nenaa|         Fontana, CA|['', ('BREAKING U...|{'neg': 0.0, 'neu...|    USA|
| 31|null| I ordered Alex J...|       rcgillan|       New York, USA|[('Alex Jones', '...|{'neg': 0.109, 'n...|    USA|
| 32|null| #CoronavirusExpe...|        AD1968F|California / Florida|['', ('Coronaviru...|{'neg': 0.0, 'neu...|    USA|
| 34|null| There is no obje...|       SFAuGrrl|   San Francisco, CA|['', ('FamiliesFi...|{'neg': 0.224, 'n...|    USA|
| 36|null| Before #coronavi...|   Frankapistan|       Nashville, TN|[('China', 'GPE')...|{'neg': 0.144, 'n...|    USA|
| 40|null|  When it's actua...|      Happyjam5|     Los Angeles, Ca|[('GOP', 'ORG'), ...|{'neg': 0.215, 'n...|    USA|
| 41|null|#Coronavirus in #...|   GregoryGLake|              Global|['', ('5', 'CARDI...|{'neg': 0.318, 'n...|    USA|
| 49|null| This week we are...|  JamesWithers3|  New York, New York|[('This week', 'D...|{'neg': 0.0, 'neu...|    USA|
| 50|null| Trump is now doi...|      NewNewsey|          everywhere|[('Trump', 'ORG')...|{'neg': 0.0, 'neu...|    USA|
| 55|null| The last patient...|   Khattarperla|          Highgarden|  [('Wuhan', 'GPE')]|{'neg': 0.0, 'neu...|    USA|
| 56|null|...Hope y‚Äôall sta...|  Brandon4Brody|          Pueblo, CO|[('CDC', 'ORG'), ...|{'neg': 0.0, 'neu...|    USA|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [26]:
tdf.explain()

== Physical Plan ==
*(1) Filter (isnotnull(country#117) AND (country#117 = USA))
+- FileScan csv [_c0#110,geo#111,text#112,user#113,location#114,entities#115,sentiment#116,country#117] Batched: false, DataFilters: [isnotnull(country#117), (country#117 = USA)], Format: CSV, Location: InMemoryFileIndex[file:/tmp/tweets.csv], PartitionFilters: [], PushedFilters: [IsNotNull(country), EqualTo(country,USA)], ReadSchema: struct<_c0:string,geo:string,text:string,user:string,location:string,entities:string,sentiment:st...

In [27]:
tdf.count()

364

In [28]:
tdf=twitter_df.filter("country='USA' and location like '%New%'")

In [29]:
tdf.explain()

== Physical Plan ==
*(1) Filter (((isnotnull(country#117) AND isnotnull(location#114)) AND (country#117 = USA)) AND Contains(location#114, New))
+- FileScan csv [_c0#110,geo#111,text#112,user#113,location#114,entities#115,sentiment#116,country#117] Batched: false, DataFilters: [isnotnull(country#117), isnotnull(location#114), (country#117 = USA), Contains(location#114, New)], Format: CSV, Location: InMemoryFileIndex[file:/tmp/tweets.csv], PartitionFilters: [], PushedFilters: [IsNotNull(country), IsNotNull(location), EqualTo(country,USA), StringContains(location,New)], ReadSchema: struct<_c0:string,geo:string,text:string,user:string,location:string,entities:string,sentiment:st...

In [30]:
tdf.show()

+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
|_c0| geo|                text|           user|            location|            entities|           sentiment|country|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
| 31|null| I ordered Alex J...|       rcgillan|       New York, USA|[('Alex Jones', '...|{'neg': 0.109, 'n...|    USA|
| 49|null| This week we are...|  JamesWithers3|  New York, New York|[('This week', 'D...|{'neg': 0.0, 'neu...|    USA|
| 62|null|Fear will kill #C...| RobertPPurcell|norther New Jerse...|                ['']|{'neg': 0.798, 'n...|    USA|
|228|null|This is a very co...|baskingntheGlow|       New York City|[('hourly', 'TIME')]|{'neg': 0.12, 'ne...|    USA|
|238|null|I‚Äôm reposting thi...|   Veronicaromm|     New Jersey, USA|[('English', 'LAN...|{'neg': 0.0, 'neu...|    USA|
|261|null|Too early ...?  #...|      HJeppesen|        New York, NY|                ['']|{'neg': 0.0, 'neu...|    USA|
|275|null|  The Republican ...|  GenetBataiile|  New Hampshire, USA|[('Republican', '...|{'neg': 0.0, 'neu...|    USA|
|369|null| I still look to ...|   SusanSeaside|         New England|[('SouthKorea', '...|{'neg': 0.0, 'neu...|    USA|
|438|null|Can we call the #...|       nilchaks|     New Jersey, USA|                ['']|{'neg': 0.194, 'n...|    USA|
|458|null| New deadly #coro...| ssummersabrina|     New Jersey, USA|                ['']|{'neg': 0.236, 'n...|    USA|
|471|null|What the Caged Bi...|    AaronNetsky|        New York, NY|                  []|{'neg': 0.0, 'neu...|    USA|
|553|null|Me: Tired of hear...|     AmandaB_B8|  New Hampshire, USA|['', ('tonight', ...|{'neg': 0.252, 'n...|    USA|
|611|null| Apparently the #...|  BuffaloInABox|   Buffalo, New York|['', ('CoronaViru...|{'neg': 0.171, 'n...|    USA|
|612|null| New deadly #coro...|       klazimi1|       New York, USA|                ['']|{'neg': 0.236, 'n...|    USA|
|622|null|Can someone pleas...|         pitaru|            New York|                ['']|{'neg': 0.168, 'n...|    USA|
|624|null| Trump is now doi...| swirlysunburst|Northwest, New Je...|[('Trump', 'ORG')...|{'neg': 0.0, 'neu...|    USA|
|664|null|Marriage in 2020 ...|           sciz|        New York, NY|[('2020', 'DATE')...|{'neg': 0.111, 'n...|    USA|
|679|null|ALL MY MONEY ON E...|  misterauyeung|        New York, NY|[('ETF', 'ORG'), '']|{'neg': 0.148, 'n...|    USA|
|724|null|#UniversalStudios...| cosmicbooknews|       New York, USA|['', ('UniversalS...|{'neg': 0.0, 'neu...|    USA|
|850|null| There is no obje...|         rm1268|       New York, USA|['', ('FamiliesFi...|{'neg': 0.224, 'n...|    USA|
+---+----+--------------------+---------------+--------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [31]:
twitter_df

DataFrame[_c0: string, geo: string, text: string, user: string, location: string, entities: string, sentiment: string, country: string]

In [32]:
twitter_df.first()

Row(_c0='0', geo=None, text='What is God saying to us about #coronavirus ?', user='petodinice', location='Lagos', entities="[('about #', 'CARDINAL')]", sentiment="{'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.2732}", country='Nigeria')

In [33]:
twitter_df.take(5)

[Row(_c0='0', geo=None, text='What is God saying to us about #coronavirus ?', user='petodinice', location='Lagos', entities="[('about #', 'CARDINAL')]", sentiment="{'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.2732}", country='Nigeria'),
 Row(_c0='1', geo=None, text='"BREAKING: ""this is disappointing', user=' but i took the test"". Arsenal\'s Mikel Arteta tests positive for #coronavirus', location='  -‚Ä¶ "', entities='JerryfranksonJF', sentiment='Abuja, Nigeria', country='"[(""Arsenal\'s Mikel Arteta""'),
 Row(_c0='2', geo=None, text=' #Coronavirus testing must be made free to the public if we are going to understand the scope of this crisis. Anything le‚Ä¶', user='cek422', location='Pennsylvania, USA', entities='[]', sentiment="{'neg': 0.173, 'neu': 0.71, 'pos': 0.117, 'compound': -0.3767}", country='USA'),
 Row(_c0='3', geo=None, text=' Get ready for mass event crowd cancellations across the World starting this weekend: cricket in #Australia in empty st‚Ä¶', user='InfectiousDz', location='NYC', entities="[('World', 'ORG'), ('this weekend', 'DATE'), '']", sentiment="{'neg': 0.085, 'neu': 0.798, 'pos': 0.117, 'compound': 0.1779}", country='USA'),
 Row(_c0='4', geo=None, text=' The #coronavirus pandemic is revealing just how closely we are all bound together...[A thread] ', user='vic_gibson', location=None, entities="['']", sentiment="{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}", country=None)]

In [34]:
twitter_df.select("text").show()

+--------------------+
|                text|
+--------------------+
|What is God sayin...|
|"BREAKING: ""this...|
| #Coronavirus tes...|
| Get ready for ma...|
| The #coronavirus...|
| COVID-19 update ...|
| It‚Äôs painful to ...|
| üìΩÔ∏èFriends, I wi...|
| Questions about ...|
|How they‚Äôre deali...|
| BREAKING: Democr...|
| ‚ÄúIf we close dow...|
| I pity the poor ...|
| We‚Äôre the heck w...|
| I don't think sh...|
| Well written, so...|
| 1/2 CDC Director...|
| In all seriousne...|
| Wash your hands....|
| #CoronaVirusCana...|
+--------------------+
only showing top 20 rows

In [35]:
twitter_df.select("text","user").show()

+--------------------+--------------------+
|                text|                user|
+--------------------+--------------------+
|What is God sayin...|          petodinice|
|"BREAKING: ""this...| but i took the t...|
| #Coronavirus tes...|              cek422|
| Get ready for ma...|        InfectiousDz|
| The #coronavirus...|          vic_gibson|
| COVID-19 update ...|      StewartNgilana|
| It‚Äôs painful to ...|           BWheatnyc|
| üìΩÔ∏èFriends, I wi...|             LorseaR|
| Questions about ...|         straightj23|
|How they‚Äôre deali...|       _______coolio|
| BREAKING: Democr...|      champagneaylin|
| ‚ÄúIf we close dow...|       YorkLawLondon|
| I pity the poor ...|      BeesonMargaret|
| We‚Äôre the heck w...|      harrytiffanyiv|
| I don't think sh...|         grammyheath|
| Well written, so...|      barbara_ellena|
| 1/2 CDC Director...|               fatal|
| In all seriousne...|          pwjkmiller|
| Wash your hands....|        Mrrandy123RP|
| #CoronaVirusCana...|           aliensky0|
+--------------------+--------------------+
only showing top 20 rows

In [36]:
twitter_df.rdd.map(lambda line:line.text.split(" ")).take(5)

[['What', 'is', 'God', 'saying', 'to', 'us', 'about', '#coronavirus', '?'],
 ['"BREAKING:', '""this', 'is', 'disappointing'],
 ['',
  '#Coronavirus',
  'testing',
  'must',
  'be',
  'made',
  'free',
  'to',
  'the',
  'public',
  'if',
  'we',
  'are',
  'going',
  'to',
  'understand',
  'the',
  'scope',
  'of',
  'this',
  'crisis.',
  'Anything',
  'le‚Ä¶'],
 ['',
  'Get',
  'ready',
  'for',
  'mass',
  'event',
  'crowd',
  'cancellations',
  'across',
  'the',
  'World',
  'starting',
  'this',
  'weekend:',
  'cricket',
  'in',
  '#Australia',
  'in',
  'empty',
  'st‚Ä¶'],
 ['',
  'The',
  '#coronavirus',
  'pandemic',
  'is',
  'revealing',
  'just',
  'how',
  'closely',
  'we',
  'are',
  'all',
  'bound',
  'together...[A',
  'thread]',
  '']]

In [37]:
twitter_df.rdd.flatMap(lambda line:line.text.split(" ")).take(100)

['What',
 'is',
 'God',
 'saying',
 'to',
 'us',
 'about',
 '#coronavirus',
 '?',
 '"BREAKING:',
 '""this',
 'is',
 'disappointing',
 '',
 '#Coronavirus',
 'testing',
 'must',
 'be',
 'made',
 'free',
 'to',
 'the',
 'public',
 'if',
 'we',
 'are',
 'going',
 'to',
 'understand',
 'the',
 'scope',
 'of',
 'this',
 'crisis.',
 'Anything',
 'le‚Ä¶',
 '',
 'Get',
 'ready',
 'for',
 'mass',
 'event',
 'crowd',
 'cancellations',
 'across',
 'the',
 'World',
 'starting',
 'this',
 'weekend:',
 'cricket',
 'in',
 '#Australia',
 'in',
 'empty',
 'st‚Ä¶',
 '',
 'The',
 '#coronavirus',
 'pandemic',
 'is',
 'revealing',
 'just',
 'how',
 'closely',
 'we',
 'are',
 'all',
 'bound',
 'together...[A',
 'thread]',
 '',
 '',
 'COVID-19',
 'update',
 'as',
 'of',
 'this',
 'morning:1.',
 'Death',
 'toll',
 'in',
 'Italy',
 'passes',
 '1,0002.',
 "Arsenal's",
 'head',
 'coach',
 'Arteta',
 'tests',
 'positive3.',
 'US‚Ä¶',
 '',
 'It‚Äôs',
 'painful',
 'to',
 'say,',
 'but',
 'as',
 'an']

In [38]:
corona_df.show(10)

+---+----------------+---------+--------+---------+----------+---------+-----+---------+----------------+----+
|_c0|           State|  Country|     Lat|     Long|      Date|Confirmed|Death|Recovered|   state_cleaned|City|
+---+----------------+---------+--------+---------+----------+---------+-----+---------+----------------+----+
|  0|            null| Thailand|    15.0|    101.0|2020-01-22|        2|    0|        0|         Bangkok|null|
|  1|            null|    Japan|    36.0|    138.0|2020-01-22|        2|    0|        0|         Hiraide|null|
|  2|            null|Singapore|  1.2833| 103.8333|2020-01-22|        0|    0|        0|       Singapore|null|
|  3|            null|    Nepal| 28.1667|    84.25|2020-01-22|        0|    0|        0|       Kathmandu|null|
|  4|            null| Malaysia|     2.5|    112.5|2020-01-22|        0|    0|        0|         Sarawak|null|
|  5|British Columbia|   Canada| 49.2827|-123.1207|2020-01-22|        0|    0|        0|British Columbia|null|
|  6| New South Wales|Australia|-33.8688| 151.2093|2020-01-22|        0|    0|        0| New South Wales|null|
|  7|        Victoria|Australia|-37.8136| 144.9631|2020-01-22|        0|    0|        0|        Victoria|null|
|  8|      Queensland|Australia|-28.0167|    153.4|2020-01-22|        0|    0|        0|      Queensland|null|
|  9|            null| Cambodia|   11.55| 104.9167|2020-01-22|        0|    0|        0|      Phnom Penh|null|
+---+----------------+---------+--------+---------+----------+---------+-----+---------+----------------+----+
only showing top 10 rows

In [39]:
corona_df.filter("country='US'").show()

+---+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
|_c0|           State|Country|               Lat|     Long|      Date|Confirmed|Death|Recovered|   state_cleaned|            City|
+---+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
| 98|      Washington|     US|           47.4009|-121.4905|2020-01-22|        0|    0|        0|      Washington|      Washington|
| 99|        New York|     US|           42.1657| -74.9481|2020-01-22|        0|    0|        0|        New York|        New York|
|100|      California|     US|           36.1162|-119.6816|2020-01-22|        0|    0|        0|      California|      California|
|101|   Massachusetts|     US|           42.2302| -71.5301|2020-01-22|        0|    0|        0|   Massachusetts|   Massachusetts|
|102|Diamond Princess|     US|           35.4437|  139.638|2020-01-22|        0|    0|        0|Diamond Princess|Diamond Princess|
|103|  Grand Princess|     US|           37.6489|-122.6655|2020-01-22|        0|    0|        0|  Grand Princess|  Grand Princess|
|104|         Georgia|     US|           33.0406| -83.6431|2020-01-22|        0|    0|        0|         Georgia|         Georgia|
|105|        Colorado|     US|           39.0598|-105.3111|2020-01-22|        0|    0|        0|        Colorado|        Colorado|
|106|         Florida|     US|           27.7663| -81.6868|2020-01-22|        0|    0|        0|         Florida|         Florida|
|107|      New Jersey|     US|           40.2989|  -74.521|2020-01-22|        0|    0|        0|      New Jersey|      New Jersey|
|108|          Oregon|     US|44.571999999999996|-122.0709|2020-01-22|        0|    0|        0|          Oregon|          Oregon|
|109|           Texas|     US|           31.0545| -97.5635|2020-01-22|        0|    0|        0|           Texas|           Texas|
|110|        Illinois|     US|           40.3495| -88.9861|2020-01-22|        0|    0|        0|        Illinois|        Illinois|
|111|    Pennsylvania|     US|           40.5908| -77.2098|2020-01-22|        0|    0|        0|    Pennsylvania|    Pennsylvania|
|112|            Iowa|     US|           42.0115| -93.2105|2020-01-22|        0|    0|        0|            Iowa|            Iowa|
|113|        Maryland|     US|           39.0639| -76.8021|2020-01-22|        0|    0|        0|        Maryland|        Maryland|
|114|  North Carolina|     US|           35.6301| -79.8064|2020-01-22|        0|    0|        0|  North Carolina|  North Carolina|
|115|  South Carolina|     US|           33.8569|  -80.945|2020-01-22|        0|    0|        0|  South Carolina|  South Carolina|
|116|       Tennessee|     US|           35.7478| -86.6923|2020-01-22|        0|    0|        0|       Tennessee|       Tennessee|
|117|        Virginia|     US|           37.7693|   -78.17|2020-01-22|        0|    0|        0|        Virginia|        Virginia|
+---+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
only showing top 20 rows

In [40]:
corona_df.filter("country='US'").sort(col("date"), ascending=False).show()

+-----+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
|  _c0|           State|Country|               Lat|     Long|      Date|Confirmed|Death|Recovered|   state_cleaned|            City|
+-----+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
|27764|      Washington|     US|           47.4009|-121.4905|2020-03-20|     1524|   83|        0|      Washington|      Washington|
|27784|         Arizona|     US|           33.7298|-111.4312|2020-03-20|       78|    0|        0|         Arizona|         Arizona|
|27765|        New York|     US|           42.1657| -74.9481|2020-03-20|     8310|   42|        0|        New York|        New York|
|27766|      California|     US|           36.1162|-119.6816|2020-03-20|     1177|   23|        0|      California|      California|
|27767|   Massachusetts|     US|           42.2302| -71.5301|2020-03-20|      413|    1|        0|   Massachusetts|   Massachusetts|
|27768|Diamond Princess|     US|           35.4437|  139.638|2020-03-20|       49|    0|        0|Diamond Princess|Diamond Princess|
|27769|  Grand Princess|     US|           37.6489|-122.6655|2020-03-20|       23|    0|        0|  Grand Princess|  Grand Princess|
|27770|         Georgia|     US|           33.0406| -83.6431|2020-03-20|      420|   13|        0|         Georgia|         Georgia|
|27771|        Colorado|     US|           39.0598|-105.3111|2020-03-20|      363|    4|        0|        Colorado|        Colorado|
|27772|         Florida|     US|           27.7663| -81.6868|2020-03-20|      563|   10|        0|         Florida|         Florida|
|27773|      New Jersey|     US|           40.2989|  -74.521|2020-03-20|      890|   11|        0|      New Jersey|      New Jersey|
|27774|          Oregon|     US|44.571999999999996|-122.0709|2020-03-20|      114|    3|        0|          Oregon|          Oregon|
|27775|           Texas|     US|           31.0545| -97.5635|2020-03-20|      394|    5|        0|           Texas|           Texas|
|27776|        Illinois|     US|           40.3495| -88.9861|2020-03-20|      585|    5|        0|        Illinois|        Illinois|
|27777|    Pennsylvania|     US|           40.5908| -77.2098|2020-03-20|      303|    1|        0|    Pennsylvania|    Pennsylvania|
|27778|            Iowa|     US|           42.0115| -93.2105|2020-03-20|       45|    0|        0|            Iowa|            Iowa|
|27779|        Maryland|     US|           39.0639| -76.8021|2020-03-20|      149|    1|        0|        Maryland|        Maryland|
|27780|  North Carolina|     US|           35.6301| -79.8064|2020-03-20|      172|    0|        0|  North Carolina|  North Carolina|
|27781|  South Carolina|     US|           33.8569|  -80.945|2020-03-20|      126|    1|        0|  South Carolina|  South Carolina|
|27782|       Tennessee|     US|           35.7478| -86.6923|2020-03-20|      233|    0|        0|       Tennessee|       Tennessee|
+-----+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
only showing top 20 rows

In [41]:
corona_df.filter("country='US'").orderBy(col("date"), ascending=False).show()

+-----+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
|  _c0|           State|Country|               Lat|     Long|      Date|Confirmed|Death|Recovered|   state_cleaned|            City|
+-----+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
|27764|      Washington|     US|           47.4009|-121.4905|2020-03-20|     1524|   83|        0|      Washington|      Washington|
|27784|         Arizona|     US|           33.7298|-111.4312|2020-03-20|       78|    0|        0|         Arizona|         Arizona|
|27765|        New York|     US|           42.1657| -74.9481|2020-03-20|     8310|   42|        0|        New York|        New York|
|27766|      California|     US|           36.1162|-119.6816|2020-03-20|     1177|   23|        0|      California|      California|
|27767|   Massachusetts|     US|           42.2302| -71.5301|2020-03-20|      413|    1|        0|   Massachusetts|   Massachusetts|
|27768|Diamond Princess|     US|           35.4437|  139.638|2020-03-20|       49|    0|        0|Diamond Princess|Diamond Princess|
|27769|  Grand Princess|     US|           37.6489|-122.6655|2020-03-20|       23|    0|        0|  Grand Princess|  Grand Princess|
|27770|         Georgia|     US|           33.0406| -83.6431|2020-03-20|      420|   13|        0|         Georgia|         Georgia|
|27771|        Colorado|     US|           39.0598|-105.3111|2020-03-20|      363|    4|        0|        Colorado|        Colorado|
|27772|         Florida|     US|           27.7663| -81.6868|2020-03-20|      563|   10|        0|         Florida|         Florida|
|27773|      New Jersey|     US|           40.2989|  -74.521|2020-03-20|      890|   11|        0|      New Jersey|      New Jersey|
|27774|          Oregon|     US|44.571999999999996|-122.0709|2020-03-20|      114|    3|        0|          Oregon|          Oregon|
|27775|           Texas|     US|           31.0545| -97.5635|2020-03-20|      394|    5|        0|           Texas|           Texas|
|27776|        Illinois|     US|           40.3495| -88.9861|2020-03-20|      585|    5|        0|        Illinois|        Illinois|
|27777|    Pennsylvania|     US|           40.5908| -77.2098|2020-03-20|      303|    1|        0|    Pennsylvania|    Pennsylvania|
|27778|            Iowa|     US|           42.0115| -93.2105|2020-03-20|       45|    0|        0|            Iowa|            Iowa|
|27779|        Maryland|     US|           39.0639| -76.8021|2020-03-20|      149|    1|        0|        Maryland|        Maryland|
|27780|  North Carolina|     US|           35.6301| -79.8064|2020-03-20|      172|    0|        0|  North Carolina|  North Carolina|
|27781|  South Carolina|     US|           33.8569|  -80.945|2020-03-20|      126|    1|        0|  South Carolina|  South Carolina|
|27782|       Tennessee|     US|           35.7478| -86.6923|2020-03-20|      233|    0|        0|       Tennessee|       Tennessee|
+-----+----------------+-------+------------------+---------+----------+---------+-----+---------+----------------+----------------+
only showing top 20 rows

In [42]:
corona_df.filter("Country='US'").sort([col("Date"),col("Confirmed")],ascending=False).show()

+-----+--------------------+-------+-------+---------+----------+---------+-----+---------+--------------------+--------------------+
|  _c0|               State|Country|    Lat|     Long|      Date|Confirmed|Death|Recovered|       state_cleaned|                City|
+-----+--------------------+-------+-------+---------+----------+---------+-----+---------+--------------------+--------------------+
|27808|            Arkansas|     US|34.9697| -92.3731|2020-03-20|       96|    0|        0|            Arkansas|            Arkansas|
|27773|          New Jersey|     US|40.2989|  -74.521|2020-03-20|      890|   11|        0|          New Jersey|          New Jersey|
|27785|             Indiana|     US|39.8494| -86.2583|2020-03-20|       86|    2|        0|             Indiana|             Indiana|
|27765|            New York|     US|42.1657| -74.9481|2020-03-20|     8310|   42|        0|            New York|            New York|
|28080|             Alabama|     US|32.3182| -86.9023|2020-03-20|       83|    0|        0|             Alabama|             Alabama|
|27813|         Mississippi|     US|32.7416| -89.6787|2020-03-20|       80|    1|        0|         Mississippi|         Mississippi|
|27784|             Arizona|     US|33.7298|-111.4312|2020-03-20|       78|    0|        0|             Arizona|             Arizona|
|27798|                Utah|     US|  40.15|-111.8624|2020-03-20|       78|    0|        0|                Utah|                Utah|
|27787|District of Columbia|     US|38.8974| -77.0268|2020-03-20|       71|    1|        0|District of Columbia|District of Columbia|
|27818|       West Virginia|     US|38.4912| -80.9545|2020-03-20|        7|    0|        0|       West Virginia|       West Virginia|
|27776|            Illinois|     US|40.3495| -88.9861|2020-03-20|      585|    5|        0|            Illinois|            Illinois|
|27772|             Florida|     US|27.7663| -81.6868|2020-03-20|      563|   10|        0|             Florida|             Florida|
|27811|               Maine|     US|44.6939| -69.3819|2020-03-20|       56|    0|        0|               Maine|               Maine|
|27812|            Michigan|     US|43.3266| -84.5361|2020-03-20|      552|    3|        0|            Michigan|            Michigan|
|27793|        Rhode Island|     US|41.6809| -71.5118|2020-03-20|       54|    0|        0|        Rhode Island|        Rhode Island|
|27804|           Louisiana|     US|31.1695| -91.8678|2020-03-20|      538|   14|        0|           Louisiana|           Louisiana|
|27805|            Missouri|     US|38.4561| -92.2884|2020-03-20|       53|    2|        0|            Missouri|            Missouri|
|27768|    Diamond Princess|     US|35.4437|  139.638|2020-03-20|       49|    0|        0|    Diamond Princess|    Diamond Princess|
|27797|            Oklahoma|     US|35.5653| -96.9289|2020-03-20|       49|    1|        0|            Oklahoma|            Oklahoma|
|27786|            Kentucky|     US|37.6681| -84.6701|2020-03-20|       47|    2|        0|            Kentucky|            Kentucky|
+-----+--------------------+-------+-------+---------+----------+---------+-----+---------+--------------------+--------------------+
only showing top 20 rows

In [43]:
corona_df.dtypes

[('_c0', 'string'),
 ('State', 'string'),
 ('Country', 'string'),
 ('Lat', 'string'),
 ('Long', 'string'),
 ('Date', 'string'),
 ('Confirmed', 'string'),
 ('Death', 'string'),
 ('Recovered', 'string'),
 ('state_cleaned', 'string'),
 ('City', 'string')]

In [44]:
corona_df=corona_df.withColumn("_c0",corona_df['_c0'].cast('int')).withColumn("Confirmed",corona_df["Confirmed"].cast('int'))\
.withColumn("Death",corona_df['Death'].cast('int')).withColumn('Recovered',corona_df['Recovered'].cast('int'))

In [45]:

corona_df.dtypes

[('_c0', 'int'),
 ('State', 'string'),
 ('Country', 'string'),
 ('Lat', 'string'),
 ('Long', 'string'),
 ('Date', 'string'),
 ('Confirmed', 'int'),
 ('Death', 'int'),
 ('Recovered', 'int'),
 ('state_cleaned', 'string'),
 ('City', 'string')]

In [46]:
corona_df.filter("Country='US'").sort([col("Date"),col("Confirmed")],ascending=False).show()

+-----+--------------+-------+-------+---------+----------+---------+-----+---------+--------------+--------------+
|  _c0|         State|Country|    Lat|     Long|      Date|Confirmed|Death|Recovered| state_cleaned|          City|
+-----+--------------+-------+-------+---------+----------+---------+-----+---------+--------------+--------------+
|27765|      New York|     US|42.1657| -74.9481|2020-03-20|     8310|   42|        0|      New York|      New York|
|27764|    Washington|     US|47.4009|-121.4905|2020-03-20|     1524|   83|        0|    Washington|    Washington|
|27766|    California|     US|36.1162|-119.6816|2020-03-20|     1177|   23|        0|    California|    California|
|27773|    New Jersey|     US|40.2989|  -74.521|2020-03-20|      890|   11|        0|    New Jersey|    New Jersey|
|27776|      Illinois|     US|40.3495| -88.9861|2020-03-20|      585|    5|        0|      Illinois|      Illinois|
|27772|       Florida|     US|27.7663| -81.6868|2020-03-20|      563|   10|        0|       Florida|       Florida|
|27812|      Michigan|     US|43.3266| -84.5361|2020-03-20|      552|    3|        0|      Michigan|      Michigan|
|27804|     Louisiana|     US|31.1695| -91.8678|2020-03-20|      538|   14|        0|     Louisiana|     Louisiana|
|27770|       Georgia|     US|33.0406| -83.6431|2020-03-20|      420|   13|        0|       Georgia|       Georgia|
|27767| Massachusetts|     US|42.2302| -71.5301|2020-03-20|      413|    1|        0| Massachusetts| Massachusetts|
|27775|         Texas|     US|31.0545| -97.5635|2020-03-20|      394|    5|        0|         Texas|         Texas|
|27771|      Colorado|     US|39.0598|-105.3111|2020-03-20|      363|    4|        0|      Colorado|      Colorado|
|27777|  Pennsylvania|     US|40.5908| -77.2098|2020-03-20|      303|    1|        0|  Pennsylvania|  Pennsylvania|
|27782|     Tennessee|     US|35.7478| -86.6923|2020-03-20|      233|    0|        0|     Tennessee|     Tennessee|
|27794|     Wisconsin|     US|44.2685| -89.6165|2020-03-20|      207|    3|        0|     Wisconsin|     Wisconsin|
|27795|   Connecticut|     US|41.5978| -72.7554|2020-03-20|      194|    3|        0|   Connecticut|   Connecticut|
|27792|          Ohio|     US|40.3888| -82.7649|2020-03-20|      173|    2|        0|          Ohio|          Ohio|
|27780|North Carolina|     US|35.6301| -79.8064|2020-03-20|      172|    0|        0|North Carolina|North Carolina|
|27779|      Maryland|     US|39.0639| -76.8021|2020-03-20|      149|    1|        0|      Maryland|      Maryland|
|27781|South Carolina|     US|33.8569|  -80.945|2020-03-20|      126|    1|        0|South Carolina|South Carolina|
+-----+--------------+-------+-------+---------+----------+---------+-----+---------+--------------+--------------+
only showing top 20 rows

In [47]:
corona_df.filter("Confirmed>10000").sort(col('Confirmed')).show()

+-----+------+-------+-------+--------+----------+---------+-----+---------+-------------+----+
|  _c0| State|Country|    Lat|    Long|      Date|Confirmed|Death|Recovered|state_cleaned|City|
+-----+------+-------+-------+--------+----------+---------+-----+---------+-------------+----+
|24005|  null|   Iran|   32.0|    53.0|2020-03-12|    10075|  429|     2959|       Tehran|null|
|22912|  null|  Italy|   43.0|    12.0|2020-03-10|    10149|  631|      724|         Rome|null|
|27346|France| France|46.2276|  2.2137|2020-03-19|    10871|  243|       12|       France|null|
| 5401| Hubei|  China|30.9756|112.2707|2020-02-02|    11177|  350|      295|        Hubei|null|
|24482|  null|   Iran|   32.0|    53.0|2020-03-13|    11364|  514|     2959|       Tehran|null|
|26253|  null|  Spain|   40.0|    -4.0|2020-03-17|    11748|  533|     1028|       Toledo|null|
|26723|  null|Germany|   51.0|     9.0|2020-03-18|    12327|   28|      105|       Berlin|null|
|23866|  null|  Italy|   43.0|    12.0|2020-03-12|    12462|  827|     1045|         Rome|null|
|23389|  null|  Italy|   43.0|    12.0|2020-03-11|    12462|  827|     1045|         Rome|null|
|27823|France| France|46.2276|  2.2137|2020-03-20|    12612|  450|       12|       France|null|
|24959|  null|   Iran|   32.0|    53.0|2020-03-14|    12729|  611|     2959|       Tehran|null|
| 5878| Hubei|  China|30.9756|112.2707|2020-02-03|    13522|  414|      386|        Hubei|null|
|26730|  null|  Spain|   40.0|    -4.0|2020-03-18|    13910|  623|     1081|       Toledo|null|
|25436|  null|   Iran|   32.0|    53.0|2020-03-15|    13938|  724|     4590|       Tehran|null|
|25913|  null|   Iran|   32.0|    53.0|2020-03-16|    14991|  853|     4590|       Tehran|null|
|27200|  null|Germany|   51.0|     9.0|2020-03-19|    15320|   44|      113|       Berlin|null|
|26390|  null|   Iran|   32.0|    53.0|2020-03-17|    16169|  988|     5389|       Tehran|null|
| 6355| Hubei|  China|30.9756|112.2707|2020-02-04|    16678|  479|      522|        Hubei|null|
|26867|  null|   Iran|   32.0|    53.0|2020-03-18|    17361| 1135|     5389|       Tehran|null|
|24343|  null|  Italy|   43.0|    12.0|2020-03-13|    17660| 1266|     1439|         Rome|null|
+-----+------+-------+-------+--------+----------+---------+-----+---------+-------------+----+
only showing top 20 rows

In [48]:
corona_df.describe().show()

+-------+-----------------+---------+-----------+------------------+------------------+----------+------------------+------------------+------------------+-------------+-----------+
|summary|              _c0|    State|    Country|               Lat|              Long|      Date|         Confirmed|             Death|         Recovered|state_cleaned|       City|
+-------+-----------------+---------+-----------+------------------+------------------+----------+------------------+------------------+------------------+-------------+-----------+
|  count|            28143|    19116|      28143|             28143|             28143|     28143|             28143|             28143|             28143|        28143|      14573|
|   mean|          14071.0|     null|       null|30.965553459118834|-34.57031257861667|      null|161.88245744945456| 5.494368048893153| 60.17290267562094|         null|       null|
| stddev|8124.328649186959|     null|       null|19.365472826597646| 80.78375872452575|      null| 2519.847217725942|109.29475709869875|1346.6597829124426|         null|       null|
|    min|                0|Adams, IN|Afghanistan|           -0.0236|           -1.0232|2020-01-22|                 0|                 0|                 0|    Abu Dhabi|      Adams|
|    max|            28142| Zhejiang|   Zimbabwe|            9.9456|           95.9956|2020-03-20|             67800|              4032|             58382|     erd√©szet|Yolo County|
+-------+-----------------+---------+-----------+------------------+------------------+----------+------------------+------------------+------------------+-------------+-----------+

In [49]:
corona_df.filter('Confirmed>10000').sort('Confirmed').show()

+-----+------+-------+-------+--------+----------+---------+-----+---------+-------------+----+
|  _c0| State|Country|    Lat|    Long|      Date|Confirmed|Death|Recovered|state_cleaned|City|
+-----+------+-------+-------+--------+----------+---------+-----+---------+-------------+----+
|24005|  null|   Iran|   32.0|    53.0|2020-03-12|    10075|  429|     2959|       Tehran|null|
|22912|  null|  Italy|   43.0|    12.0|2020-03-10|    10149|  631|      724|         Rome|null|
|27346|France| France|46.2276|  2.2137|2020-03-19|    10871|  243|       12|       France|null|
| 5401| Hubei|  China|30.9756|112.2707|2020-02-02|    11177|  350|      295|        Hubei|null|
|24482|  null|   Iran|   32.0|    53.0|2020-03-13|    11364|  514|     2959|       Tehran|null|
|26253|  null|  Spain|   40.0|    -4.0|2020-03-17|    11748|  533|     1028|       Toledo|null|
|26723|  null|Germany|   51.0|     9.0|2020-03-18|    12327|   28|      105|       Berlin|null|
|23866|  null|  Italy|   43.0|    12.0|2020-03-12|    12462|  827|     1045|         Rome|null|
|23389|  null|  Italy|   43.0|    12.0|2020-03-11|    12462|  827|     1045|         Rome|null|
|27823|France| France|46.2276|  2.2137|2020-03-20|    12612|  450|       12|       France|null|
|24959|  null|   Iran|   32.0|    53.0|2020-03-14|    12729|  611|     2959|       Tehran|null|
| 5878| Hubei|  China|30.9756|112.2707|2020-02-03|    13522|  414|      386|        Hubei|null|
|26730|  null|  Spain|   40.0|    -4.0|2020-03-18|    13910|  623|     1081|       Toledo|null|
|25436|  null|   Iran|   32.0|    53.0|2020-03-15|    13938|  724|     4590|       Tehran|null|
|25913|  null|   Iran|   32.0|    53.0|2020-03-16|    14991|  853|     4590|       Tehran|null|
|27200|  null|Germany|   51.0|     9.0|2020-03-19|    15320|   44|      113|       Berlin|null|
|26390|  null|   Iran|   32.0|    53.0|2020-03-17|    16169|  988|     5389|       Tehran|null|
| 6355| Hubei|  China|30.9756|112.2707|2020-02-04|    16678|  479|      522|        Hubei|null|
|26867|  null|   Iran|   32.0|    53.0|2020-03-18|    17361| 1135|     5389|       Tehran|null|
|24343|  null|  Italy|   43.0|    12.0|2020-03-13|    17660| 1266|     1439|         Rome|null|
+-----+------+-------+-------+--------+----------+---------+-----+---------+-------------+----+
only showing top 20 rows

In [53]:
corona_df.approxQuantile('Confirmed',[.25,.5,.75,.9,.95],0)

[0.0, 0.0, 0.0, 38.0, 177.0]

In [54]:
corona_df.filter('Confirmed>10000').approxQuantile('Confirmed',[.25,.5,.75,.9,.95],0)

[17660.0, 41035.0, 66907.0, 67786.0, 67799.0]

In [55]:
corona_df.filter('Confirmed>10000').approxQuantile('Confirmed',[.25,.5,.75,.9,.95],.9)

[10075.0, 10075.0, 10075.0, 10075.0, 67800.0]

In [56]:
corona_df.agg({'date':'max'}).collect()

[Row(max(date)='2020-03-20')]

In [57]:
corona_df.agg({'date':'max'})

DataFrame[max(date): string]

In [58]:
corona_df.agg({'date':'max'}).collect()

[Row(max(date)='2020-03-20')]

In [59]:
corona_df.agg({'Date':'max','Confirmed':'max'}).collect()

[Row(max(Confirmed)=67800, max(Date)='2020-03-20')]

In [60]:
max_date=corona_df.agg({'date':'max'})

In [61]:
max_date.show()

+----------+
| max(date)|
+----------+
|2020-03-20|
+----------+

In [62]:
import pyspark.sql.functions as F

In [64]:
corona_df.groupby('Country','state_cleaned').agg(F.max('Date')).show()

+--------------+--------------------+----------+
|       Country|       state_cleaned| max(Date)|
+--------------+--------------------+----------+
|      Cameroon|             Yaounde|2020-03-20|
|         China|             Qinghai|2020-03-20|
|        Cyprus|             Nicosia|2020-03-20|
|            US|            Michigan|2020-03-20|
|      Portugal|              Lisbon|2020-03-20|
|            US|            Colorado|2020-03-20|
|United Kingdom|      Cayman Islands|2020-03-20|
|         China|              Hainan|2020-03-20|
|            US|            Missouri|2020-03-20|
|     Australia|Australian Capita...|2020-03-20|
|            US|                Guam|2020-03-20|
|        France|             Reunion|2020-03-20|
|      Colombia|        Cundinamarca|2020-03-20|
|          Cuba|              Havana|2020-03-20|
|     Mauritius|          Port Louis|2020-03-20|
|       Ukraine|                Kiev|2020-03-20|
|         Benin|          Porto-Novo|2020-03-20|
|   Switzerland|                Bern|2020-03-20|
|         Malta|               Mgarr|2020-03-20|
|United Kingdom|         Isle of Man|2020-03-20|
+--------------+--------------------+----------+
only showing top 20 rows

In [66]:
corona_df.groupby('Country','state_cleaned').agg(F.max('Date')).orderBy('Country','state_cleaned').show()

+-------------------+--------------------+----------+
|            Country|       state_cleaned| max(Date)|
+-------------------+--------------------+----------+
|        Afghanistan|             Baghran|2020-03-20|
|            Albania|                E852|2020-03-20|
|            Algeria|            Timokten|2020-03-20|
|            Andorra|    Andorra la Vella|2020-03-20|
|             Angola|             Sautari|2020-03-20|
|Antigua and Barbuda|          St. John's|2020-03-20|
|          Argentina|        Buenos Aires|2020-03-20|
|            Armenia|             Yerevan|2020-03-20|
|          Australia|Australian Capita...|2020-03-20|
|          Australia|From Diamond Prin...|2020-03-20|
|          Australia|     New South Wales|2020-03-20|
|          Australia|  Northern Territory|2020-03-20|
|          Australia|          Queensland|2020-03-20|
|          Australia|     South Australia|2020-03-20|
|          Australia|            Tasmania|2020-03-20|
|          Australia|            Victoria|2020-03-20|
|          Australia|   Western Australia|2020-03-20|
|            Austria|              Vienna|2020-03-20|
|         Azerbaijan|            Agjabadi|2020-03-20|
|       Bahamas, The|              Nassau|2020-03-20|
+-------------------+--------------------+----------+
only showing top 20 rows

In [71]:
corona_df.groupby('Country').pivot('Date').agg(F.sum('Confirmed')).orderBy('Country').collect()

[Row(Country='Afghanistan', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=1, 2020-02-25=1, 2020-02-26=1, 2020-02-27=1, 2020-02-28=1, 2020-02-29=1, 2020-03-01=1, 2020-03-02=1, 2020-03-03=1, 2020-03-04=1, 2020-03-05=1, 2020-03-06=1, 2020-03-07=1, 2020-03-08=4, 2020-03-09=4, 2020-03-10=5, 2020-03-11=7, 2020-03-12=7, 2020-03-13=7, 2020-03-14=11, 2020-03-15=16, 2020-03-16=21, 2020-03-17=22, 2020-03-18=22, 2020-03-19=22, 2020-03-20=24),
 Row(Country='Albania', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=0, 2020-03-09=2, 2020-03-10=10, 2020-03-11=12, 2020-03-12=23, 2020-03-13=33, 2020-03-14=38, 2020-03-15=42, 2020-03-16=51, 2020-03-17=55, 2020-03-18=59, 2020-03-19=64, 2020-03-20=70),
 Row(Country='Algeria', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=1, 2020-02-26=1, 2020-02-27=1, 2020-02-28=1, 2020-02-29=1, 2020-03-01=1, 2020-03-02=3, 2020-03-03=5, 2020-03-04=12, 2020-03-05=12, 2020-03-06=17, 2020-03-07=17, 2020-03-08=19, 2020-03-09=20, 2020-03-10=20, 2020-03-11=20, 2020-03-12=24, 2020-03-13=26, 2020-03-14=37, 2020-03-15=48, 2020-03-16=54, 2020-03-17=60, 2020-03-18=74, 2020-03-19=87, 2020-03-20=90),
 Row(Country='Andorra', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=1, 2020-03-03=1, 2020-03-04=1, 2020-03-05=1, 2020-03-06=1, 2020-03-07=1, 2020-03-08=1, 2020-03-09=1, 2020-03-10=1, 2020-03-11=1, 2020-03-12=1, 2020-03-13=1, 2020-03-14=1, 2020-03-15=1, 2020-03-16=2, 2020-03-17=39, 2020-03-18=39, 2020-03-19=53, 2020-03-20=75),
 Row(Country='Angola', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=0, 2020-03-09=0, 2020-03-10=0, 2020-03-11=0, 2020-03-12=0, 2020-03-13=0, 2020-03-14=0, 2020-03-15=0, 2020-03-16=0, 2020-03-17=0, 2020-03-18=0, 2020-03-19=0, 2020-03-20=1),
 Row(Country='Antigua and Barbuda', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=0, 2020-03-09=0, 2020-03-10=0, 2020-03-11=0, 2020-03-12=0, 2020-03-13=1, 2020-03-14=1, 2020-03-15=1, 2020-03-16=1, 2020-03-17=1, 2020-03-18=1, 2020-03-19=1, 2020-03-20=1),
 Row(Country='Argentina', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=1, 2020-03-04=1, 2020-03-05=1, 2020-03-06=2, 2020-03-07=8, 2020-03-08=12, 2020-03-09=12, 2020-03-10=17, 2020-03-11=19, 2020-03-12=19, 2020-03-13=31, 2020-03-14=34, 2020-03-15=45, 2020-03-16=56, 2020-03-17=68, 2020-03-18=79, 2020-03-19=97, 2020-03-20=128),
 Row(Country='Armenia', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=1, 2020-03-02=1, 2020-03-03=1, 2020-03-04=1, 2020-03-05=1, 2020-03-06=1, 2020-03-07=1, 2020-03-08=1, 2020-03-09=1, 2020-03-10=1, 2020-03-11=1, 2020-03-12=4, 2020-03-13=8, 2020-03-14=18, 2020-03-15=26, 2020-03-16=52, 2020-03-17=78, 2020-03-18=84, 2020-03-19=115, 2020-03-20=136),
 Row(Country='Australia', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=4, 2020-01-27=5, 2020-01-28=5, 2020-01-29=6, 2020-01-30=9, 2020-01-31=9, 2020-02-01=12, 2020-02-02=12, 2020-02-03=12, 2020-02-04=13, 2020-02-05=13, 2020-02-06=14, 2020-02-07=15, 2020-02-08=15, 2020-02-09=15, 2020-02-10=15, 2020-02-11=15, 2020-02-12=15, 2020-02-13=15, 2020-02-14=15, 2020-02-15=15, 2020-02-16=15, 2020-02-17=15, 2020-02-18=15, 2020-02-19=15, 2020-02-20=15, 2020-02-21=19, 2020-02-22=22, 2020-02-23=22, 2020-02-24=22, 2020-02-25=22, 2020-02-26=22, 2020-02-27=23, 2020-02-28=23, 2020-02-29=25, 2020-03-01=27, 2020-03-02=30, 2020-03-03=39, 2020-03-04=52, 2020-03-05=55, 2020-03-06=60, 2020-03-07=63, 2020-03-08=76, 2020-03-09=91, 2020-03-10=107, 2020-03-11=128, 2020-03-12=128, 2020-03-13=200, 2020-03-14=250, 2020-03-15=297, 2020-03-16=377, 2020-03-17=452, 2020-03-18=568, 2020-03-19=681, 2020-03-20=791),
 Row(Country='Austria', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=2, 2020-02-26=2, 2020-02-27=3, 2020-02-28=3, 2020-02-29=9, 2020-03-01=14, 2020-03-02=18, 2020-03-03=21, 2020-03-04=29, 2020-03-05=41, 2020-03-06=55, 2020-03-07=79, 2020-03-08=104, 2020-03-09=131, 2020-03-10=182, 2020-03-11=246, 2020-03-12=302, 2020-03-13=504, 2020-03-14=655, 2020-03-15=860, 2020-03-16=1018, 2020-03-17=1332, 2020-03-18=1646, 2020-03-19=2013, 2020-03-20=2388),
 Row(Country='Azerbaijan', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=3, 2020-03-02=3, 2020-03-03=3, 2020-03-04=3, 2020-03-05=6, 2020-03-06=6, 2020-03-07=9, 2020-03-08=9, 2020-03-09=9, 2020-03-10=11, 2020-03-11=11, 2020-03-12=11, 2020-03-13=15, 2020-03-14=15, 2020-03-15=23, 2020-03-16=15, 2020-03-17=28, 2020-03-18=28, 2020-03-19=44, 2020-03-20=44),
 Row(Country='Bahamas, The', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=0, 2020-03-09=0, 2020-03-10=0, 2020-03-11=0, 2020-03-12=0, 2020-03-13=0, 2020-03-14=0, 2020-03-15=0, 2020-03-16=1, 2020-03-17=1, 2020-03-18=1, 2020-03-19=3, 2020-03-20=3),
 Row(Country='Bahrain', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=1, 2020-02-25=23, 2020-02-26=33, 2020-02-27=33, 2020-02-28=36, 2020-02-29=41, 2020-03-01=47, 2020-03-02=49, 2020-03-03=49, 2020-03-04=52, 2020-03-05=55, 2020-03-06=60, 2020-03-07=85, 2020-03-08=85, 2020-03-09=95, 2020-03-10=110, 2020-03-11=195, 2020-03-12=195, 2020-03-13=189, 2020-03-14=210, 2020-03-15=214, 2020-03-16=214, 2020-03-17=228, 2020-03-18=256, 2020-03-19=278, 2020-03-20=285),
 Row(Country='Bangladesh', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=3, 2020-03-09=3, 2020-03-10=3, 2020-03-11=3, 2020-03-12=3, 2020-03-13=3, 2020-03-14=3, 2020-03-15=5, 2020-03-16=8, 2020-03-17=10, 2020-03-18=14, 2020-03-19=17, 2020-03-20=20),
 Row(Country='Barbados', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=0, 2020-03-09=0, 2020-03-10=0, 2020-03-11=0, 2020-03-12=0, 2020-03-13=0, 2020-03-14=0, 2020-03-15=0, 2020-03-16=0, 2020-03-17=2, 2020-03-18=2, 2020-03-19=5, 2020-03-20=5),
 Row(Country='Belarus', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=1, 2020-02-29=1, 2020-03-01=1, 2020-03-02=1, 2020-03-03=1, 2020-03-04=6, 2020-03-05=6, 2020-03-06=6, 2020-03-07=6, 2020-03-08=6, 2020-03-09=6, 2020-03-10=9, 2020-03-11=9, 2020-03-12=12, 2020-03-13=27, 2020-03-14=27, 2020-03-15=27, 2020-03-16=36, 2020-03-17=36, 2020-03-18=51, 2020-03-19=51, 2020-03-20=69),
 Row(Country='Belgium', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=1, 2020-02-05=1, 2020-02-06=1, 2020-02-07=1, 2020-02-08=1, 2020-02-09=1, 2020-02-10=1, 2020-02-11=1, 2020-02-12=1, 2020-02-13=1, 2020-02-14=1, 2020-02-15=1, 2020-02-16=1, 2020-02-17=1, 2020-02-18=1, 2020-02-19=1, 2020-02-20=1, 2020-02-21=1, 2020-02-22=1, 2020-02-23=1, 2020-02-24=1, 2020-02-25=1, 2020-02-26=1, 2020-02-27=1, 2020-02-28=1, 2020-02-29=1, 2020-03-01=2, 2020-03-02=8, 2020-03-03=13, 2020-03-04=23, 2020-03-05=50, 2020-03-06=109, 2020-03-07=169, 2020-03-08=200, 2020-03-09=239, 2020-03-10=267, 2020-03-11=314, 2020-03-12=314, 2020-03-13=559, 2020-03-14=689, 2020-03-15=886, 2020-03-16=1058, 2020-03-17=1243, 2020-03-18=1486, 2020-03-19=1795, 2020-03-20=2257),
 Row(Country='Benin', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=0, 2020-03-09=0, 2020-03-10=0, 2020-03-11=0, 2020-03-12=0, 2020-03-13=0, 2020-03-14=0, 2020-03-15=0, 2020-03-16=1, 2020-03-17=1, 2020-03-18=2, 2020-03-19=2, 2020-03-20=2),
 Row(Country='Bhutan', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=1, 2020-03-07=1, 2020-03-08=1, 2020-03-09=1, 2020-03-10=1, 2020-03-11=1, 2020-03-12=1, 2020-03-13=1, 2020-03-14=1, 2020-03-15=1, 2020-03-16=1, 2020-03-17=1, 2020-03-18=1, 2020-03-19=1, 2020-03-20=2),
 Row(Country='Bolivia', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=0, 2020-03-09=0, 2020-03-10=0, 2020-03-11=2, 2020-03-12=2, 2020-03-13=3, 2020-03-14=10, 2020-03-15=10, 2020-03-16=11, 2020-03-17=11, 2020-03-18=12, 2020-03-19=12, 2020-03-20=15),
 Row(Country='Bosnia and Herzegovina', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=2, 2020-03-06=2, 2020-03-07=3, 2020-03-08=3, 2020-03-09=3, 2020-03-10=5, 2020-03-11=7, 2020-03-12=11, 2020-03-13=13, 2020-03-14=18, 2020-03-15=24, 2020-03-16=25, 2020-03-17=26, 2020-03-18=38, 2020-03-19=63, 2020-03-20=89),
 Row(Country='Brazil', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=1, 2020-02-27=1, 2020-02-28=1, 2020-02-29=2, 2020-03-01=2, 2020-03-02=2, 2020-03-03=2, 2020-03-04=4, 2020-03-05=4, 2020-03-06=13, 2020-03-07=13, 2020-03-08=20, 2020-03-09=25, 2020-03-10=31, 2020-03-11=38, 2020-03-12=52, 2020-03-13=151, 2020-03-14=151, 2020-03-15=162, 2020-03-16=200, 2020-03-17=321, 2020-03-18=372, 2020-03-19=621, 2020-03-20=793),
 Row(Country='Brunei', 2020-01-22=0, 2020-01-23=0, 2020-01-24=0, 2020-01-25=0, 2020-01-26=0, 2020-01-27=0, 2020-01-28=0, 2020-01-29=0, 2020-01-30=0, 2020-01-31=0, 2020-02-01=0, 2020-02-02=0, 2020-02-03=0, 2020-02-04=0, 2020-02-05=0, 2020-02-06=0, 2020-02-07=0, 2020-02-08=0, 2020-02-09=0, 2020-02-10=0, 2020-02-11=0, 2020-02-12=0, 2020-02-13=0, 2020-02-14=0, 2020-02-15=0, 2020-02-16=0, 2020-02-17=0, 2020-02-18=0, 2020-02-19=0, 2020-02-20=0, 2020-02-21=0, 2020-02-22=0, 2020-02-23=0, 2020-02-24=0, 2020-02-25=0, 2020-02-26=0, 2020-02-27=0, 2020-02-28=0, 2020-02-29=0, 2020-03-01=0, 2020-03-02=0, 2020-03-03=0, 2020-03-04=0, 2020-03-05=0, 2020-03-06=0, 2020-03-07=0, 2020-03-08=0, 2020-03-09=1, 2020-03-10=1, 2020-03-11=11, 2020-03-12=11, 2020-03-13=37, 2020-03-14=40, 2020-03-15=50, 2020-03-16=54, 2020-03-17=56, 2020-03-18=68, 2020-03-19=75, 2020-03-20=78),

In [72]:
corona_df.groupby('Country').pivot('Date').agg(F.sum('Confirmed')).orderBy('Country').show()

+-------------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|            Country|2020-01-22|2020-01-23|2020-01-24|2020-01-25|2020-01-26|2020-01-27|2020-01-28|2020-01-29|2020-01-30|2020-01-31|2020-02-01|2020-02-02|2020-02-03|2020-02-04|2020-02-05|2020-02-06|2020-02-07|2020-02-08|2020-02-09|2020-02-10|2020-02-11|2020-02-12|2020-02-13|2020-02-14|2020-02-15|2020-02-16|2020-02-17|2020-02-18|2020-02-19|2020-02-20|2020-02-21|2020-02-22|2020-02-23|2020-02-24|2020-02-25|2020-02-26|2020-02-27|2020-02-28|2020-02-29|2020-03-01|2020-03-02|2020-03-03|2020-03-04|2020-03-05|2020-03-06|2020-03-07|2020-03-08|2020-03-09|2020-03-10|2020-03-11|2020-03-12|2020-03-13|2020-03-14|2020-03-15|2020-03-16|2020-03-17|2020-03-18|2020-03-19|2020-03-20|
+-------------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|        Afghanistan|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         4|         4|         5|         7|         7|         7|        11|        16|        21|        22|        22|        22|        24|
|            Albania|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         2|        10|        12|        23|        33|        38|        42|        51|        55|        59|        64|        70|
|            Algeria|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         1|         1|         1|         3|         5|        12|        12|        17|        17|        19|        20|        20|        20|        24|        26|        37|        48|        54|        60|        74|        87|        90|
|            Andorra|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         2|        39|        39|        53|        75|
|             Angola|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|
|Antigua and Barbuda|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         1|         1|         1|         1|         1|
|          Argentina|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         2|         8|        12|        12|        17|        19|        19|        31|        34|        45|        56|        68|        79|        97|       128|
|            Armenia|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         4|         8|        18|        26|        52|        78|        84|       115|       136|
|          Australia|         0|         0|         0|         0|         4|         5|         5|         6|         9|         9|        12|        12|        12|        13|        13|        14|        15|        15|        15|        15|        15|        15|        15|        15|        15|        15|        15|        15|        15|        15|        19|        22|        22|        22|        22|        22|        23|        23|        25|        27|        30|        39|        52|        55|        60|        63|        76|        91|       107|       128|       128|       200|       250|       297|       377|       452|       568|       681|       791|
|            Austria|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         2|         2|         3|         3|         9|        14|        18|        21|        29|        41|        55|        79|       104|       131|       182|       246|       302|       504|       655|       860|      1018|      1332|      1646|      2013|      2388|
|         Azerbaijan|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         3|         3|         3|         3|         6|         6|         9|         9|         9|        11|        11|        11|        15|        15|        23|        15|        28|        28|        44|        44|
|       Bahamas, The|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         3|         3|
|            Bahrain|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|        23|        33|        33|        36|        41|        47|        49|        49|        52|        55|        60|        85|        85|        95|       110|       195|       195|       189|       210|       214|       214|       228|       256|       278|       285|
|         Bangladesh|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         3|         3|         3|         3|         3|         3|         3|         5|         8|        10|        14|        17|        20|
|           Barbados|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         2|         2|         5|         5|
|            Belarus|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         1|         1|         6|         6|         6|         6|         6|         6|         9|         9|        12|        27|        27|        27|        36|        36|        51|        51|        69|
|            Belgium|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         2|         8|        13|        23|        50|       109|       169|       200|       239|       267|       314|       314|       559|       689|       886|      1058|      1243|      1486|      1795|      2257|
|              Benin|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         2|         2|         2|
|             Bhutan|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         1|         2|
|            Bolivia|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         0|         2|         2|         3|        10|        10|        11|        11|        12|        12|        15|
+-------------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
only showing top 20 rows

In [76]:
corona_df.groupBy("Country").agg({'Confirmed':'sum','Recovered':'sum','Death':'sum'}).orderBy('sum(Confirmed)',ascending=False).show()

+--------------+--------------+----------+--------------+
|       Country|sum(Recovered)|sum(Death)|sum(Confirmed)|
+--------------+--------------+----------+--------------+
|         China|       1570179|    109614|       3287028|
|         Italy|         30834|     23658|        326105|
|          Iran|         56432|      9883|        188884|
|  Korea, South|         10523|      1233|        155106|
|         Spain|          7093|      4198|        103290|
|       Germany|          1063|       217|         89015|
|        France|           342|      1623|         71858|
|            US|           249|      1135|         67002|
|   Switzerland|            96|       220|         25348|
|   Cruise Ship|          3544|       165|         24092|
|United Kingdom|           607|       584|         18816|
|   Netherlands|            14|       373|         16031|
|         Japan|          2279|       337|         14471|
|        Norway|            12|        32|         13891|
|        Sweden|            42|        58|         11847|
|       Belgium|            93|       104|         11707|
|       Austria|            66|        26|         11657|
|       Denmark|            15|        29|          9694|
|      Malaysia|           920|         9|          6402|
|     Singapore|          2554|         0|          5673|
+--------------+--------------+----------+--------------+
only showing top 20 rows